<!-- <div class = "col-xs-12" id="<%= dom_id(@post)%>"> -->
  <% if user_signed_in? && can?(:favourite, @post) %>
    <% if @favourite&.persisted? %>
      <%= link_to 'Unfavourite', post_favourite_path(@post,@favourite), method: :delete, remote: true, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Favourite', post_favourites_path(@post), method: :post, remote: true, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<!-- </div> -->
(<%= pluralize @post.favourites.count, "favourite" %>)
