
<div class = "container-fluid">

  <h3> Create a New Comment</h3>
   <!-- comments form was here  -->
   <div id = "comments-form">
     <%= render '/comments/form' %>
 </div>

<!-- shows comments -->
    <% if @post.comments.size != 0 %>
  <h3>Comments</h3>
      <div class = "row">
        <div class = "col-md-12">
          <div id = "comments-loop">
              <% @post.comments.each do |c| %>
              <div id="<%= dom_id(c)%>">
              <!-- comments loop was here  -->
              <%= render '/comments/comment', {c: c} %>
              <% end %>
         </div>
      </div>
   </div>
 </div>
   <% end %>
  </div>
